.btn {
    margin-bottom: 5px;
}

.topmenu > div {
    padding-top: 5px;
    padding-left: 10px;
}

.session-area {
    text-align: right;
}

.loading {
    background: url('../img/loading.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    display: none;
}
