.shaded {
    color: #999;
}

.main-container > .card {
    margin-bottom: 1em;
}

.form-control:read-only {
    background-color: #FFF;
    border: none;
    color: #000;
    font-weight: bold;
}

.form-control {
    font-weight: bold;
    color: #000;
}

.select-input {
    border: 1px solid #ced4da !important;
}

.numInput {
    width: 80px;
}

.reference-area {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.offspring-area {
}


.left-part .row, .right-part .row {
    margin-left: 0;
    margin-right: 0;
}

.right-part {
    padding-left: 0px;
}

form {
    margin-block-end: 0;
}

.card-title {
    padding-top: 1rem;
}

#gender-error ~ .invalid-feedback {
    display: block !important;
}

/*.edit-button-area {
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
*/
hr {
    margin-left: 1em;
    margin-right: 1em;
}

@media (max-width: 991px) {
/*    .edit-button-area {
        border-top: 1px solid rgba(0,0,0,.125);
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding-top: 15px;
        padding-bottom: 15px;
    }
*/    .card-body {
        padding: 0;
    }
    .part .row {
        margin-left: 0;
        margin-right: 0;
    }
    .reference-area {
        padding-left: 0;
        margin-left: 15px;
    }
}

@media (min-width: 992px) {
    .card-body {
        padding: 0;
    }
    .left-part {
        border-right: 1px solid rgba(0,0,0,.125);
        padding-right: 0;
    }

    .col-form-label, .col-form-label-checkbox {
        text-align: right;
    }

/*    .edit-button-area {
        padding-top: 1em;
        padding-bottom: 1em;
        margin-bottom: 0;
    }
*/
}
